html,
body {
  font-family: 'Open Sans Condensed';
}

#root {
  padding: 20px 40px;

  @media screen and (max-width: 800px) {
    padding: 10px;
  }
}

.spinnerContainer {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}